<footer class="site-footer">
  <div class="container">
    <div class="footer-copyright">
      {% if site.footer.copyright %}
      {{ site.footer.copyright }}
      {% else %}
      &copy; {{ 'now' | date: '%Y' }} {{ site.author.name | default: site.title }}
      {% endif %}
    </div>
    <div class="footer-links">
      <a href="https://github.com/nethalo" class="footer-link">GitHub</a>
      <a href="https://www.linkedin.com/in/danielmauricioguzman/" class="footer-link">LinkedIn</a>
      <a href="{{ '/feed.xml' | relative_url }}" class="footer-link">RSS</a>
    </div>
  </div>
</footer>
